*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/*CSS Enter*/

header{
	height: 110vh;
	background: url(../images/pablo.jpeg);
	background-size: cover;
	background-position: center;
}

nav{
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav > ul > li {
	margin: 0 20px;

}

/*Styling for all buttons*/
.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btn-product{
	background-color: coral;
	font-size: 15px;
	font-weight: bold;
}

#diveBtn {
	position: absolute;
	right: 100px;
	top: 16px;
	transition: .3s;
}

#diveBtn:hover {
	top: 15px;
}

/*Disappearing Menu CSS*/
.submenu {
	background-color: paleturquoise;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover {
	visibility: visible;
}

.submenu > div{
	width: 25%;
}

/*div + div{
	border-left: 1px solid black;
}
*/
.submenu > div > h4, .submenu > div > p {
	margin: 10px ;
	padding: 0 10px;
}

.header-text{
	height: 90vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header-text > h1 {
	font-size: 70px;
}

.header-text > h1, .header-text > p , .header-text > div > button {
	margin-left: 50px;
}

.header-text > div > .btn {
	margin-top: 20px;
	background-color: navy;
	color: white;
}

div > h4, div > p{
	margin: 10px 0;
	padding: 0 10px;
}

div > p:hover{
	background-color: darkgray;
}


/*End CSS for Header*/



/*Start of Quote CSS*/

.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div {
	width: 50%;
}

.quote > div > div {
	text-align: center;
	margin-top: 20px;
}

.right{
	width: 100%;
}

.section3-right{
	display: flex;
	align-items: center;
	height: 80vh;
	width: 50%;
}

.section3{
	height: 80vh;
	display: flex;
	border-bottom: 1px solid whitesmoke;
	justify-content: center;
	align-items: center;
	padding-right: 100px;
}

/* LEFT PART */
.left-pic{
	width: 50%;
}

.left-pic img {
	width: 450px;
	height: 350px;
	border-radius: 5px;
	margin-left: 100px;
}


/* RIGHT PART */
.right{
	margin: 0 10px;
}

.section3 > .right > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right > div{
/*	height: 300px;
	padding-right: 10px;*/
}

/*bottom content*/

.bottom-content{
	display: flex;
}

.section4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.column {
  float: left;
  width: 30%;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 10px;
}

h3{
	height: 30px;
	text-align: center;
}

h6 {
	height: 20px;
	text-align: center;
	font-size: 13px;
}

.profile img {
	height: 40px;
    width: 40px;
    border-radius: 50%;
}

* {
    margin: 0;
    padding: 0;
}


/*.right > div > div > p {
	text-align: center;
	color: gray;
	margin-bottom: 10px;
}

.right > div > div> h2 {
	font-size: 30px;
}*/

/*.bottom-content > div {
	width: 50%;
}

.bottom-content > div > h1 > span {
	font-size: 20;
	position: relative;
	bottom: 40;
}*/

/*End of Quote CSS*/




/*SAMPLE*/

/*.sample {
	width: 50%
	background-color: gray;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sample-div{
	height: 350px;
	background-color: lightgray;
/*	border: 1px solid red;*/
/*	width: 100%;

}

.sample-bottom{
	display: flex;
}

.sample-bottom>div{
	width: 50%;
}*//**/


